<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fyp.stay.trytrythis"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trytrythis"
        android:largeHeap="true"
        android:screenOrientation="portrait">
        <activity
            android:name=".MainActivity"
            android:label="Past Meals">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity" />
        <activity android:name=".PredictionActivity" android:parentActivityName="com.example.raymond.snapfood.MainActivity" />
        <activity android:name=".EditGenderActivity" />
        <activity android:name=".EditCurrentWeightActivity" />
        <activity android:name=".EditGoalWeightActivity" />
        <activity android:name=".EditHeightActivity" />
        <activity android:name=".EditAgeActivity" />
        <activity android:name=".EditDaysActivity" />
        <activity android:name=".DetailsActivity"></activity>
    </application>

</manifest>
    </application>

</manifest>